 /*Index*/

*{
  padding: 0px;
  margin: 0px;
}

body.index{
    background-color: rgb(180, 136, 223);
    display: block;
    overflow: hidden;
}

header{
    background-color: #4c1d95 ;
    padding: 0px 5px;
    color: white;
    font-family: 'open sans';
    min-width: 250px;
}

.meumundo{
    text-align: center;
    background-color: rgb(210, 210, 211);
    font-family: 'open sans';
}

.meumundo h2{
    color: #361b6b;
}

.banner-carrossel{
  position: relative;
  width: 90vw;
  height: 55vh;
  margin: auto;
  background: #222;
  border-radius: 15px;
  border: 2px solid #000;
  box-shadow: 0 4px 8px #222;
  margin-top: 10px;
  overflow: hidden;
}
.slides{
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.slide{
  min-width: 100%;
  height: 100%;
}
.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.dots{
  position: absolute;
  bottom: 12px;
  right: 15px;
  display: flex;
  gap: 8px;
}
.dot{
  width: 12px;
  height: 5px;
  background: #fff;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}
.dot.active{
  background: powderblue;
  width: 22px;
  opacity: 1;
}

.container-index{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 50px;
    min-width: 250px;
    flex-wrap: wrap;
}

.card{
    background-color: rgb(233, 213, 255);
    border-radius: 5px;
    padding: 15px;
    width: 100px;
    text-align: center;
    font-family: 'Cinzel', serif;
    cursor: pointer;   
    border: 2px solid #4c1d95;
    box-shadow: 1.5px 4px 8px #222;
    transition: all 0.2s ease;
}

.card:hover{
  transform: translateY(-3px);
}

.card a{
    color: #280955;
    text-decoration: none;
}



footer{
    text-align: center;
    background-color: #4c1d95 ;
    padding: 15px 30px;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
}


             /*TEATROS, LIVROS & SÉRIES*/

              /*3 cards*/

body.tls{
    background: rgb(180, 136, 223);
    padding: 0px;
    margin: 0px;
    display: block;
    overflow: hidden;
}

header.tls{
    background-color: #4c1d95 ;
    padding: 5px 5px;
    color: white;
    font-family: 'open sans';
    min-width: 250px;
}

 header.tls h3{
  font-size: 18px;
  font-family: 'Cinzel', serif;
}

.container-tls{
    background-color: #e9d5ff;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 25px 0;
    flex-wrap: wrap;
}

.card-tls{
    background-color: rgb(180, 136, 223);
    border-radius: 15px;
    height: 550px;
    width: 220px;
    padding: 15px;
    text-align: center;
    font-family: 'open sans';
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    border: 2px solid #4c1d95;
    transition: all 0.2s ease;
}

.card-tls:hover{
  transform: translateY(-3px);
}

.card-tls img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    display: block;
}

.card-tls a{
    margin-bottom: 15px;
    color: #3533cd !Important;
    text-decoration: none !Important;
}


         /*Mapa Mental*/

body.tls2{
    background: #dfdce4;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin:0;
    font-family:'Poppins', sans-serif;
  }

  .container-tls2{
    position:relative;
    width:750px;
    height:600px;
  }

  .centro{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:180px;
    height:180px;
    background: #cecad6;
    border-radius:50%;
    border:18px solid transparent;
    background-clip: padding-box;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-family:'Dancing Script', cursive;
    font-size:38px;
    line-height:0.9;
    z-index:2;
    box-shadow: 1.5px 4px 8px #222;
  }

  .centro::before{
    content:'';
    position:absolute;
    inset:-18px;
    border-radius:50%;
    background: conic-gradient(
     #9871e0 0% 25%,
      #b39ddb 25% 50%,
      #9871e0 50% 75%,
      #b39ddb 75% 100%
    );
    z-index:-1;
    border: 1px solid black;
  }

  .box{
    position:absolute;
    width:210px;
    background:#dabdfa;
    border: 2px solid #4c1d95;
    box-shadow: 1.5px 4px 8px #222;
    border-radius: 15px;
  }

  .box .titulo{
    padding:6px 10px;
    font-weight:600;
    font-size:20px;
    text-align:center;
    border-radius: 15px;
  }

  .box .conteudo{
    min-height:80px;
    padding:10px;
    font-size:20px;
  }


  .box1 .titulo{ 
     background: #dabdfa; 
  }
  .box2 .titulo{ 
   background: #dabdfa;
  }
  .box3 .titulo{ 
     background: #dabdfa;
  } 
  .box4 .titulo{ 
     background: #dabdfa;
  }

  .box1{
     top:0; left:50%; transform:translateX(-50%); 
  }
  .box2{ 
     top:50%; right:0; transform:translateY(-50%);
  }
  .box3{ 
      bottom:0; left:50%; transform:translateX(-50%); 
  }
  .box4{ 
      top:50%; left:0; transform:translateY(-50%);
  }

@media screen and (max-width: 1920px){
    .container-index{
        display: flex;
        gap: 20px;
        padding: 30px 15px;
    }

    .card{
        width: 180px;
    }
 
    .slide1{
        position: relative;
    }

    .container-tl{
        display: block;
    }
}
